<!DOCTYPE html>
<html>

{{>header}}

<body>
	{{>links}}
	<h1>About the man on top of the ladder</h1>
	<p>Hi, I am Theo, a pro League of Legends player, currently challenger 5620 lp.</p>
</body>

{{>footer}}

</html>